<launch>
  <!--param name="/use_sim_time" value="true" /-->
  
  <param ns="2" name="robot_description"
    textfile="$(find languageslam)/urdf/linorobot.urdf" />

  <node ns="2" name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node ns="2" name="cartographer_grpc_node" pkg="cartographer_ros"
  
      type="cartographer_grpc_node" args="
          -configuration_directory $(find languageslam)/config
          -configuration_basename client2.lua
          -server_address localhost:50051
          -client_id CLIENT_ID
          "
      output="screen">
      <!--remap from="/scan" to="/scan2" /-->
  </node>

</launch>

