<launch>
  <arg name="robot_name"/>
    <!--env name="ROS_MASTER_URI" value="http://localhost:11311" /><only needed for running this all on the same machine>
    <node name="playbag_1" pkg="rosbag" type="play"
      args="clock $(env HOME)/Downloads/ROSbags/1210bag3.bag" /-->



    <node name="cartographer_grpc_node_1" pkg="cartographer_ros"
      type="cartographer_grpc_node" args="
          -configuration_directory $(find languageslam)/config
          -configuration_basename client.lua
          -server_address localhost:50051
          -client_id $(arg robot_name)
          "
          
      output="screen">
      <remap from="/$(arg robot_name)/scan" to="scan"/>
      <remap from="/$(arg robot_name)/odom" to="odom"/>
    </node>


    <node name="cartographer_grpc_server_1" pkg="cartographer_ros"
        type="cartographer_grpc_server.sh" args="
            -configuration_directory $(find languageslam)/config
            -configuration_basename robot_1_server.lua
            ">
    </node>
</launch>
