<launch>
  <env name="robot_name" value="robot7"/>
<group>
  <env name="ROS_MASTER_URI" value="http://localhost:11311" /><!--only needed for running this all on the same machine-->

  <node name="cartographer_grpc_server_3" pkg="cartographer_ros"
      type="cartographer_grpc_server.sh" args="
          -configuration_directory $(find languageslam)/config
          -configuration_basename cloud.lua
          ">
  </node>
  
 <node name="cartographer_grpc_node_1" pkg="cartographer_ros"
      type="cartographer_grpc_node" args="
          -configuration_directory $(find languageslam)/config
          -configuration_basename client.lua
          -server_address 192.168.0.110:50100
          "
          
      output="screen">
      <remap from="/robot7/scan" to="scan"/>
      <remap from="/robot7/odom" to="odom"/>
  </node>
  
  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" >
      <remap from="map" to="servermap"/>
  </node>
</group>
</launch>

