<launch>

<group>
  <env name="ROS_MASTER_URI" value="http://localhost:11311" /><!--only needed for running this all on the same machine-->

  <node name="cartographer_grpc_server_3" pkg="cartographer_ros"
      type="cartographer_grpc_server.sh" args="
          -configuration_directory $(find languageslam)/config
          -configuration_basename cloud.lua
          ">
  </node>


  <!--node name="cartographer_grpc_node_3" pkg="cartographer_ros"
    type="cartographer_grpc_node" args="
        -configuration_directory $(find languageslam)/config
        -configuration_basename client.lua
        -server_address localhost:50100
        -client_id 3"
    output="screen">
    <remap from="/scan" to="scan"/>

  </node-->

  <node name="visualization" pkg="rviz" type="rviz" respawn="false"
      output="screen"
      args="$(find languageslam)/config/rviz_config.rviz">
  </node>

  <node name="dashboard" pkg="rqt_gui" type="rqt_gui" respawn="false" 
      output="screen" 
      args="--perspective-file $(find languageslam)/config/LanguageSLAM.perspective">
  </node>

</group>
</launch>

