<library path="src">
  <class name="My Plugin" type="languageslam.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Plugin for voice commands
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Voice control</label>
      
      <icon type="theme">audio-input-microphone</icon>
      <statustip>Interface for voice control of robots.</statustip>
    </qtgui>
  </class>
</library>

