<launch>
    <node pkg="rosserial_python" name="rosserial_lino" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
        <param name="baud" value="57600" />
        
    </node>

    <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" respawn="false">
        <param name="calib_file" value="$(find linorobot)/param/imu/imu_calib0.yaml" />
        <param name="calibrate_gyros" value="true" />
    </node>

    <node pkg="imu_calib" type="do_calib" name="do_calib" output="screen" respawn="false">
        <param name="calib_file" value="$(find languageslam)/config/imu_calib.yaml" />
    </node>
</launch>