<launch>
    <arg name="robot_name"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <param name="base_global_planner" value="global_planner/GlobalPlanner" />
            <param name="planner_frequency" value="1.0" />
            <param name="planner_patience" value="5.0" />
            <param name="clearing_rotation_allowed" value="False" />
            <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
            <!--param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" /-->
            <param name="controller_frequency" value="5.0" />
            <param name="controller_patience" value="15.0" />
        <rosparam file="$(find languageslam)/config/linorobot/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find languageslam)/config/linorobot/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find languageslam)/config/linorobot/local_costmap_params.yaml" command="load" subst_value="true" />
        <rosparam file="$(find languageslam)/config/linorobot/global_costmap_params.yaml" command="load" subst_value="true" />
        <rosparam file="$(find languageslam)/config/linorobot/base_local_planner_default_params.yaml" command="load" />
        <rosparam file="$(find languageslam)/config/linorobot/base_global_planner.yaml" command="load" />
        <rosparam file="$(find languageslam)/config/linorobot/move_base_params.yaml" command="load" />
    </node>
</launch>
